<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表渲染</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <p>一、用 v-for 把一个数组对应为一组元素</p>
    <ul id="app1">
        <li v-for="(item, index) of items">
            {{ parentMessage }} - {{index}} - {{ item.message }}
        </li>
    </ul>
    <script>
        new Vue({
            el: '#app1',
            data: {
                parentMessage: 'Parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        })
    </script>
    <p>二、一个对象的 v-for</p>
    <ul id="app2">
        <li v-for="(value, key, index) in obj">
            {{index}}. {{ key }}: {{ value }}
        </li>
    </ul>
    <script>
        new Vue({
            el: "#app2",
            data: {
                obj: {
                    firstName: 'David',
                    lastName: 'Yu',
                    age: 28
                }
            }
        })
    </script>
    <p>三、key</p>
    <p>为了给 Vue 一个提示，以便它能跟踪每个节点的身份，从而重用和重新排序现有元素，你需要为每项提供一个唯一 key 属性。理想的 key 值是每项都有的且唯一的 id。</p>
    <p>建议尽可能在使用 v-for 时提供 key，除非遍历输出的 DOM 内容非常简单，或者是刻意依赖默认行为以获取性能上的提升。</p>
    <p>四、数组更新检测</p>
    <p>1.变异方法</p>
    <p>Vue 包含一组观察数组的变异方法，所以它们也将会触发视图更新。这些方法如下：</p>
    <p>push()</p>
    <p>pop()</p>
    <p>shift()</p>
    <p>unshift()</p>
    <p>splice()</p>
    <p>sort()</p>
    <p>reverse()</p>
    <p>2.替换数组(很高效)</p>
    <p>3.注意事项</p>
    <p>五、对象更改检测注意事项</p>
    <p>六、显示过滤/排序结果</p>
    <p>七、一段取值范围的 v-for</p>
    <p>八、v-for on a
        <code>&lt;template&gt;</code>
    </p>
    <p>九、v-for with v-if</p>
    <p>十、一个组件的 v-for</p>
</body>

</html>